@page "/clientes"
@using System.Net
@using System.Text.Json
@using Application.ViewModels
@inject HttpClient Http

<PageTitle>Clientes</PageTitle>


<div class="d-flex justify-content-between">
    <h3>Clientes</h3>
    <NavLink class="nav-link"href="/clientes/cadastrar">
        <button class="btn btn-primary"> Cadastrar</button>
    </NavLink>
    
</div>


@if (clientes == null)
{
    <p>
        <em>Loading....</em>
    </p>
}
else if (clientes.Length != 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Tipo</th>
            <th>Documento</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cliente in clientes)
        {
            <tr>
                <td>@cliente.Nome</td>
                <td>@cliente.Email</td>
                <td>@cliente.Tipo</td>
                <td>@cliente.Documento</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>
        <em>Clientes não encontrados.</em>
    </p>
}


@code {
    private ClienteViewModel[] clientes;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("http://localhost:5268/api/clientes");
        if (response.StatusCode == HttpStatusCode.OK)
        {
            var options = new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            };
            var jsonString = await response.Content.ReadAsStringAsync();
            clientes = JsonSerializer.Deserialize<ClienteViewModel[]>(jsonString, options);
        }

    }

}